.cart-items-1{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: auto;
}

.order-title{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    font-size: large;
    font-weight: bolder;
}
.order-header{
    height: auto;
}
.orders-body{
    text-align: left;

}
.order-placed{
    text-align: left;
    font-size: x-small;
    margin-bottom: 0;
}
.order-content1{
    text-align: left;
    font-size: x-small;
    margin-bottom: 0;
}
.order-content{
    text-align: right;
    font-size: x-small;
    margin-bottom: 0;
}