.navbar{
    background-color: #ffffff;
    border-bottom: black;
    font-family: 'PT Serif', serif;
    font-size: 20px;
}
.navbar-final{
    overflow: hidden;
}
.logostyle{
    font-family: 'PT Serif', serif;
    font-size: 20px;
}

.modal-content{
    margin-top: 20%;
    margin-left: -20%;
    width: 700px;
    height: 500px;
}



@media (max-width: 350px){
    .navbar{
        background-color: #ffffff;
        border-bottom: black;
        font-family: 'PT Serif', serif;
        font-size: 10px;
    }
    .logostyle{
        font-family: 'PT Serif', serif;
        font-size: 10px;
    }
    .nav-link1{
        display: none;
    }
    .navbar-final{
        overflow: hidden;
    }
}

@media (min-width: 350px) and (max-width: 500px){
    .navbar{
        background-color: #ffffff;
        border-bottom: black;
        font-family: 'PT Serif', serif;
        font-size: 15px;
    }
    .logostyle{
        font-family: 'PT Serif', serif;
        font-size: 15px;
    }
    .nav-link-1{
        display: none;
    }
    .navbar-final{
        overflow: hidden;
    }
}

@media (min-width: 500px) and (max-width: 800px){
    .navbar{
        background-color: #ffffff;
        border-bottom: black;
        font-family: 'PT Serif', serif;
        font-size: 20px;
    }
    .logostyle{
        font-family: 'PT Serif', serif;
        font-size: 20px;
    }
    .navbar-final{
        overflow: hidden;
    }
}

