
.weoffer{
    font-size: 40px;
    font-family:'Roboto',' Arial';
}

.offers-final{
    overflow: hidden;
}

@media (max-width: 350px){
    .weoffer{
        font-size: 12px;
        font-family:'Roboto',' Arial';
    }
    .offers-final{
        overflow: hidden;
    }
}

@media (min-width: 350px) and (max-width: 500px){
    .weoffer{
        font-size: 15px;
        font-family:'Roboto',' Arial';
    }
    .offers-final{
        overflow: hidden;
    }
}

@media (min-width: 500px) and (max-width: 800px){
    .weoffer{
        font-size: 20px;
        font-family:'Roboto',' Arial';
        text-align: left;
    }
    .offers-final{
        overflow: hidden;
    }
}

@media (min-width: 800px) and (max-width: 1000px){
    .weoffer{
        font-size: 30px;
        font-family:'Roboto',' Arial';
    }
    .offers-final{
        overflow: hidden;
    }
}
